[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump
[submodule "lib/nhub"]
	path = lib/nhub
[submodule "lib/lovebird"]
	path = lib/lovebird
	url = git@github.com:rxi/lovebird.git
[submodule "lib/hxdx"]
	path = lib/hxdx
	url = git@github.com:adonaac/hxdx.git
